# Cache and log files
.turbo
.eslintcache
.DS_Store
Thumbs.db
yarn-error.log
npm-debug.log*

# Dependencies
node_modules/

# Local environment files
.env
.env*.local
!.env.example
!.env.dist

# Build artifacts & local outputs
dist/
dist-nuget/
lib/
nomad-avatar*.svg
